# https://editorconfig.org
# 控制 .editorconfig 是否生效的字段
root = true

# 匹配全部文件
[*]
# 设置字符集
charset = utf-8
# 结尾换行符，可选"lf"、"cr"、"crlf"
end_of_line = crlf
# 缩进的空格数
indent_size = 2
# 缩进风格，可选"space"、"tab"
indent_style = space
# 以确保文件在保存时以换行符结束
insert_final_newline = true
max_line_length = 80
# 删除换行符和之前的任何空格字符
trim_trailing_whitespace = true

ij_any_space_before_colon = true

[*.md]
max_line_length = 0
trim_trailing_whitespace = false

[COMMIT_EDITMSG]
max_line_length = 0
