* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  font: 12px/1.5 "Microsoft YaHei", "Heiti SC", tahoma, arial,
    "Hiragino Sans GB", "\5B8B\4F53", sans-serif;
}

em,
i {
  font-style: normal;
}

li {
  list-style: none;
}

img {
  border: 0;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

.hide,
.none {
  display: none;
}

#root {
  height: 100%;
}

/* 展开菜单时，子菜单显示错乱 */
.ant-menu-submenu.ant-menu-submenu-popup.ant-menu {
  .ant-menu.ant-menu-sub.ant-menu-inline {
    display: none;
  }
}
